
.relative {
    position: relative !important;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.inline-block {
    display: inline-block;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.blocker {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}

.no-margin {
    margin: 0 !important;
}

.opacity50 {
    opacity: .5;
}

.text-field-label {
    margin-bottom: 1.2rem;
    font-size: 2.4rem;
    font-weight: bold;
    color: var(--text-color-dark);
}

.field-required-marker {
    color: #E34848;
}
